{% extends 'base.html' %}
{% block content %}

    <h1>Informações do Funcionario</h1>
    <br>
    <fieldset>
        <legend class="offset-1">Informaçoes Pessoais</legend>
        <div class="col-12" style="display: grid">
        <br>
            <table class="table table-bordered col-12">
                <thead>
                    <tr class="table-secondary">
                        <th scope="col"></th>
                    </tr>
                </thead>
            </table>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td class="col-7"><strong>Nome Completo:    </strong>{{ funcionario.nome }}</td>
                        <td class="col-5"><strong>Matricula:   </strong>{{ funcionario.matricula }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td><strong>CPF:  </strong>{{ funcionario.CPF|slice:"3" }}.{{ funcionario.CPF|slice:"3:6" }}.{{ funcionario.CPF|slice:"6:9" }} - {{ funcionario.CPF|slice:"9:11" }}</td>
                        <td><strong>Data Admissão:  </strong>{{ funcionario.data_admissao }}</td>
                        <td><strong>Comissão:  </strong>{{ funcionario.comissao }}</td>
                        <td><strong>Cargo ID:  </strong>{{ funcionario.cargo_id }}</td>

                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-secondary col-12"><a href="#"></a>Edit Employee Personal Info</button>
        </div>
    </fieldset>
    <br>
    <fieldset>
        <legend class="offset-1">Cargo</legend>
        <div class="col-12 " style="display: grid">
            <br>
            <table class="table table-bordered">
                <thead>
                    <tr class="table-secondary">
                        <th scope="col"></th>
                    </tr>
                </thead>
            </table>
            <table class="table table-bordered">
                <tbody>
                    <tr class="col-12">
                        <td class="col-4"><strong>Codigo:  </strong>{{ cargo.codigo }}</td>
                        <td class="col-4"><strong>Cargo:  </strong>{{ cargo.nome }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <tbody>
                    <tr class="col-12">
                        <td class="col-5"><strong>Salario Base: </strong>{{ cargo.salario_base }}</td>
                        <td class="col-7"><strong>Comissão: </strong>{{ comissao }} %</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <tbody>
                    <tr class="col-12">
                        <td class="col-5"><strong>Descrissão: </strong>{{ cargo.descricao }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>


{% endblock %}